body {
    font-family: "Open Sans", "sans-serif";
}

.target {
    font-family: "Lobster", "Roboto Mono";
    text-decoration: underline;
    font-size: 300%;
}


header h2 {
    color: #000000;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0px;
    padding: 30px;
    background-image: linear-gradient(to right,#9DC5C3,#5E5C5C);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #901cad;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
}

.cursorChange:hover {
    cursor: pointer;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    
}

.carousel {
    border: solid #5637DD;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
}

.img-position {
    position: relative;
    right: 35px;
}

.parallax {
    background-image: url("/img/cafe-image.jpg");
    min-height: 768px; 
    background-attachment: fixed;
    background-position: center;
    bottom: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
  }

.scroll {
    width: 30%;
    animation: move 1s infinite alternate;
}
@keyframes move {
    0% {
        transform: translateY(0px);
        }
    to {
            transform: translateY(20px);
        }
        }
}

@media only screen and (max-width: 600px) {
    .scroll {
        visibility: hidden;
    }
  }

  .scroll {
      position: absolute;
      left: 50%;
      top: 80%;
      transform: translate(-50%,-50%);
  }

.message {
    top: 160px;
}

.change-style {
    color: #605E5E;
    font-family: sans-serif;
    font-size: 130%;
    width: 100%;
    height: auto;
}

.parallaxTwo {
    background-image: url("/img/cafe-food-image.jpg");
    min-height: 768px; 
    background-attachment: fixed;
    background-position: center;
    bottom: 0px;
    background-repeat: no-repeat;
    background-size: cover;
  }

.hours {
    color: #000000;
    font-family: montserrat;
    font-size: 90px;
    border-bottom: 4px solid white;
}


.times {
    color: #000000;
    font-family: sans-serif;
    font-size: 50px;
}
a {
    color: black;
}

@font-face {
    font-family: "montserrat";
    src: url(/fonts/Montserrat-Light.ttf);
}

.h1-events {
    color: #404041;
    font-size: 350%;
    font-family: montserrat;
}

.vert-one {
    border-right: 1px solid #4e4e4e;
    padding-right: 2em;
    height: 450px;
    position: relative;
    bottom: .5em;
}
.vert-two {
    border-right: 1px solid #4e4e4e;
    height: 400px;
    position: relative;
    top: 3em;
}

.brd-one {
    border: 1px solid #4e4e4e;
    padding: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.brd-two {
    border: 1px solid #4e4e4e;
    padding: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.p-fonts {
    font-family: montserrat;
}

.background-change {
    background-color: #a2ac87;
    height: 470px;
}

.hr-line {
    border: 2px solid lightgray;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: 10px;
}
.hr-lineTwo {
    border: 1px solid #000000;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: 20px;
}

.h2-change {
    font-family: montserrat;
    font-size: 50px;
    color: #fff;
}
.h2-changeTwo {
    font-family: montserrat;
    font-size: 50px;
    color: #000;
}
.p-change {
    font-size: 19px;
    color: #fff;
}

.height-change {
    height: 400px;
    background-color: #fafafa;
}

.icons {
    position: sticky;
    bottom: 25em;
}

.welcome-image {
    width: 100%;
    height: auto;
}